section {
    display: flex;
    flex-direction: row;
}

.binary-tree {
    display: flex;
    flex: 1 1 100%;
}

.binary-tree.node {
    flex-direction: column;
    align-items: center;
}

.binary-tree.children {
    flex-direction: row;
}

