section {
    display: flex;
    flex-direction: row;
}

.node {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.children {
    flex-direction: row;
    display: flex;
    align-content: center;
}

